:root {
    --primary-dark: #262626;
    --primary-blue: #1D2CF3;
    --light-beige: #F7F2EB;
}

#progress-container {
    width: 100%;
    height: 4px;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

#progress-bar {
    height: 100%;
    background: var(--primary-blue);
    width: 0;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    color:var(--primary-dark);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "HelveticaNeue-CondensedBlack";
    font-size: 88px;
}

h2 {
    font-family: "HelveticaNeue-CondensedBlack";
    font-size: 40px;
}

h3, h4, h5, h6, p{
    font-family: "Helvetica Neue Light";
}

a {
    text-decoration: none;
}
body {
    cursor: url(images/cursor.svg) 16 16, auto;
}
header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    text-align: right;
    width: 100%;
    height: 48px;
    position: fixed;
    align-items: center;
    z-index: 3;
}

nav {
    background-color: white;
    height: 48px;
    padding-right: 32px;
    z-index: 3;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: var(--primary-dark);
}

.navigation-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25px;
    gap: 8px;
}

#home-icon {
    margin-top: 4px;
}

nav ul {
    list-style-type: none;
    align-items: center;
    padding-right: 16px;

}

nav ul li{
    display: inline-block;
    align-items: center;
    padding: 16px 0px;
}

nav ul li a {
    display: inline-block;
    margin-left: 25px;
    color: var(--primary-dark);
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--primary-blue);
    transform:scale(1.05);
    font-weight: bolder;
}

.article-hero {
    background-color: #EDF3F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    padding-top: 80px;
    position: relative;
    gap: 40px;
    overflow:hidden;
}

.article-hero-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 2
}

.article-hero-text h1,
.article-hero-text h3,
.article-hero-text h4 {
    /* color: #004F71; */
    line-height: 1.5;
    margin: 8px;
}

/* hide img in mobile media query */

.article-hero-img {
    width: auto;
    max-width: 1200px;
    max-height: 40vh;
    height: auto;
    margin: 0 auto;
    z-index: 1;
}

.article-summary {
    background-color: #EDF3F9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary-window {
    background-color: white;
    max-width: 900px; 
    /* change to 90vw max-width in media query */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-radius: 16px;
    border-color: black;
    border-width: 2px;
    box-shadow: 4px 4px 0 #262626;
    margin: 16px;
}


.summary-window-header {
    background-color: white;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 16px;
    border-radius: 16px 16px 0 0;
    border-bottom: black;
    border-style: solid;
    border-width: 0 0 2px 0;
}

.summary-window-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 16px 0;
}

/* #summary-window-right {
    display: flex;
    flex-direction: column;
    padding:20px;
} */

#summary-window-text {
    padding: 16px 32px 8px 32px;
}

#summary-window-text-1 {
    margin: 16px;
    font-family: monospace;
    font-size: 28px;
}

.icon-subheading {
    display: flex;
    direction: row;
}

.icon-subheading #summary-icon {
    padding-left: 16px;
}

.summary-window-subheading {
    margin: 16px;
    font-size: 16px;
    line-height: 1.5;
    font-family: monospace;
}

.summary-window-subtext {
    margin: 16px;
    font-size: 16px;
    line-height: 1.5;
    font-family: monospace;
}

.slide-section {
    background-color: #EDF3F9;
    height: 70vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.slide-container {
    background-color: white;
    width: 100%;
    height: 100%;
    max-width: 900px;
    max-height: 560px;
    border-radius: 32px;
    margin: 16px;
    line-height: 1.5;
}

.slide-container.mid {  
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 32px;
text-align: center;
}

.slide-container.split {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 32px;
text-align: center;
}

.slide-container.split #left-content {
width: 40%;
text-align: left;
padding: 8px;
}

.slide-container.split #right-content {
width: 60%;
text-align: left;
padding:8px;
}

.slide-container.split #right-content ul li {
    padding: 8px;
}

.slide-container.left {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 32px;
text-align: center;
}
    
 .slide-container.left #left-content {
width: 50%;
padding: 8px;
}
    
.slide-container.left #right-content {
width: 50%;
padding: 8px;
}   

.slide-container.left #right-content img {
width: auto;
height: 90%;
max-height: 320px;
max-width: 320px;
padding: 8px;
}

.slide-container.left-ul {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 32px;
text-align: center;
}
    
.slide-container.left-ul #left-content {
width: 50%;
text-align: left;
padding: 8px;
}

.slide-container.left-ul #left-content ul li {
padding: 8px;
}

.slide-container.left-ul #right-content {
width: 50%;
padding: 8px;
}   

.slide-container.left-ul #right-content img {
width: 100%;
height: auto;
max-height: 320px;
max-width: 320px;
}

.full-content-section {
    background-color: #EDF3F9;
    height: 100vh;
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding-bottom: 40px;
    margin: 0 auto;
}

#ai-writer-gif {
    height: 80vh;
    max-width: 100%;
    object-fit: contain;
}

#ai-writer-video {
    height: 90vh;
    max-width: 100%;
    object-fit: contain;
}

.stats-container {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.stats {
    flex-direction: column;
    justify-content: space-between;
    padding: 0 32px 0 32px;
}

.stats h2 {
    font-family: "Helvetica Neue Light";
    font-size: 56px;
}


/* ENDING SECTION AND FOOTER */
.contact-me {
    background-color: #EDF3F9;
    display: flex;
    justify-content: center;
}

.contact-me section {
    display: flex;
    flex-direction: column;
}

.contact-me-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1180px;
    gap: 16px;
    padding-top: 40px;
}

.contact-me-container h1 {
    color:var(--primary-dark);
    font-size: 48px;
}

.contact-me-container h3,
.contact-me-container h4 {
    color: var(--primary-dark);
    font-family: "Helvetica Neue Light";
    text-align: center;
}

#email-link:hover {
    cursor:pointer;
}

.contact-button {
    height: 40px;
    padding: 4px 24px;
    margin: 0 0 0 16px;
    font-size: 20px;
    background-color: white;
    color: var(--primary-dark);
    border: var(--primary-dark);
    border-style: solid;
    border-width: 1.5px;
    border-radius: 100px;
    box-shadow: 2px 2px 0 #262626;
}

.contact-button:hover {
    box-shadow: 4px 4px 0 #252525;
    color:var(--primary-dark);
    border-color: var(--primary-dark);
    transform: scale(1.05);
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: var(--primary-dark);
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media screen and (min-width: 1400px){
    #aiwriter-hero-img {
        max-height: 800px;
        max-width: 2000px;
    }
}

@media screen and (max-width: 990px){
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 16px;
    }
    p {
        font-size: 12px;
    }

  }

@media screen and (max-width: 480px){
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 16px;
    }
    p {
        font-size: 12px;
    }
    #aiwriter-hero-img {
        height: 200px;
    }
    .article-summary {
        height: 100%;
    }
    .icon-subheading {
        flex-direction: column;
    }
    #summary-icon {
        height:80px;
    }
    #summary-window-text {
        height: 100%;
    }
    .slide-container {
        height:100%;
        max-height: 1000px;
    }
    .slide-container.split  {
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    #left-content h2 {
        text-align: center;
    }
    #left-content p {
        text-align: center;
    }
    .slide-container.split #left-content {
        width: 80vw;
    }
    .slide-container.split #right-content {
        width: 80vw;
    }
    .stats-container {
        flex-direction: column;
        gap: 16px;
    }
    .stats-container h2 {
        font-size: 32px;
    }
    .slide-container.left-ul {
        flex-direction: column;
    }
    .slide-container.left-ul #left-content{
        width: 100%;
    }

}


/* TO-DO
X Add MVP video
X Add feature screenshots 
X Progress scrolling bar
X Add Explain BETA group testing/release
X Add HMW measure success?
X Add metrics

- Iteration is key (EDUCATIONAL)
- Loading bar = value (EDUCATIONAL) >> mid slide with light bulb
- Make layout more BENTO style
- Update resume
- Media query to mobile phone + turn desktop into desktop
- Toggle modes? with cosntruction cap
- Rename .js files
- Rotate cards on hover, make responsive
- Hide nav on vertical scroll

- Beja.ai
- ARC817
- Notion + 
- DroneHub
- Lnk8
*/